# Node modules
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Production
build/
dist/

# Dependency directories
jspm_packages/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDEs and editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
src/test/